@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-[#cfcece];
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-info {
  margin-top: 20px;
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.square {
  width: 8vw;
  margin-right: 4px;
  height: 8vw;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #cfcece;
  transition: background-color 0.5s ease;
}

/* Highlight winning squares with green */
.square.bg-green-500 {
  background-color: #48bb78; /* Tailwind CSS green-500 */
  border-color: #48bb78; /* Match border color to green */
}

@media (min-width: 600px) {
  .square {
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .square {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
  }

  .game {
    flex-direction: row;
  }

  .game-info {
    margin-left: 20px;
    text-align: left;
  }
}

/* Modal styling */
.modal {
  @apply fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75;
}

.modal-content {
  @apply bg-gray-700 text-white p-6 rounded-lg shadow-lg;
}

.modal-close {
  @apply text-red-500 float-right cursor-pointer text-2xl;
}

.history-button {
  @apply bg-gray-700 text-white py-2 px-4 rounded-lg mt-4;
}
